<!-- views/partials/header.ejs -->
<head>
  <body>
    <h3>TinyApp Header</h3>
    <% if (!users) { %>
    <form action="/login">
    <button type="submit">Login</button>
    </form>
    <form action="/register">
    <button type="submit">Register</button>
    </form>
    <% } if (users) { %>
    <form method ='POST' action='/logout'>
      <button type='submit'> Logout </button>
        <p><%= users.email %></p>
    <% } %>
  </form>

  </body>
</head>
