<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <table>
    <thead>
      <tr>
        <th>Full URL</th>
        <th>Short URL </th>
        <th><th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= urls[shortURL].url%></td>
        <td><%= shortURL %></td>
        <td>
          <form method='POST' action = '/urls/<%= shortURL %>'>
            <input type='text' name='longURL' value='<%= urls[shortURL].url %>' />
            <input type='submit' value='Update' />
        </td>
        <td>
          <form action='/urls/new/' >
            <input type='submit' value='View All'/>
          </form>
        </td>
      </tr>
    </tbody>
</body>
</html>
