<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <table>
    <thead>
      <tr>
        <th>Full URL</th>
        <th>Short URL </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= urls[shortURL]%></td>
        <td><%= shortURL %></td>
      </tr>
    </tbody>
</body>
</html>
