<!DOCTYPE html>
<html lang='en'>
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1> Welcome to TinyApp! </h1>
    <h3 align='left'> Login </h3>
      <form method='POST' action='/login'>
        <input label="email" type='email' name='email' />
        <input type='password' name='password' />
        <input type='submit' value='Login!' />
      </form>
      <h5> Dont have an account? <a href='/register'>Register!</a></h5>
  </body>
</html>
