<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
    <table>
      <thead>
        <tr>
          <th>URL</th>
          <th>Short URL</th>
          <th</th>
        </tr>
      </thead>
      <tbody>
        <% for (shortURL in urls) { %>
        <tr>
          <td><%= urls[shortURL] %></td>
          <td><%= shortURL %></td>
          <td>
            <a href='/urls/<%= shortURL %>'> Edit </a>
          </td>
          <td>
            <form method ='POST' action='/urls/<%= shortURL %>/delete'>
              <input type='submit' value='Delete'/>
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colSpan='2'>
            <a href='/urls/new'>Shorten URL</a>
          </td>
        </tr>
    </table>
</body>
</html>
